/* Common Styles */
body {
  background-color: #222;
  color: #fff;
  text-align: center;
  font-family: "Caveat", cursive;
  font-family: "Cinzel", serif;
  /* font-family: "Crimson Text", serif; */
  /* font-family: "Shadows Into Light", cursive; */
}

.container {
  max-width: 800px;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.header {
  background-color: #292929;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1a2e3a;
}

/* Word Styles */
.word {
  background-color: #1a2e3a;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
}

footer {
  background-color: #292929;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1a2e3a;
}

/* Media Query for Mobile */
@media screen and (min-width: 200px) {
  /* Header Styles */
  .header {
    font-size: 38px;
  }
  .word {
    font-size: 42px;
  }
}
